@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@layer base{
    body {
        @apply font-[Noto_Sans];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}
/*
.bubble{
    background-image: url('./assets/github-mark.png');
    background-color: white;
    background-size: 100%;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    height: 152px;
    margin-right: 20px;
    width: 152px;

}*/

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.8),
        hsla(242, 74%, 61%,0.8)
    )!important;
}